
import(modeltools)
import(party)

export(glmboost, glmboost_fit, 
       gamboost, gamboost_fit,
       blackboost, blackboost_fit, 
       boost_control, mstop, Family, 
       GaussReg, GaussClass, Laplace, Binomial, Poisson, Weib, Loglog, LogNormal,
       Hurdle, ZeroInfNull, ZeroInfCount, Huber, AdaExp, CoxPH, boost_dpp, FP, IPCweights, cvrisk, bbs, 
       bss, bns, bols, bspatial, brandom, btree, survFit)
exportClasses("boost_family")
exportMethods("show")

S3method(print, glmboost)
S3method(plot, glmboost)
S3method(glmboost, formula)
S3method(glmboost, matrix)
S3method(gamboost, formula)
S3method(gamboost, matrix)
S3method(blackboost, formula)
S3method(blackboost, matrix)
S3method(print, gamboost)
S3method(plot, gamboost)
S3method(plot, survFit)
S3method(coef, gamboost)
S3method(hatvalues, gb)
S3method(hatvalues, glmboost)
S3method(fitted, gb)
S3method(fitted, blackboost)
S3method(predict, gb)
S3method(AIC, glmboost)
S3method(AIC, gamboost)
S3method(logLik, gb)
S3method(resid, gb)
S3method(resid, blackboost)
S3method(coef, glmboost)
S3method(print, gamboost)
S3method(print, blackboost)
S3method(print, cvrisk)
S3method(predict, blackboost)
S3method(print, gbAIC)
S3method(plot, gbAIC)
S3method(plot, cvrisk)
S3method(mstop, gbAIC)
S3method(mstop, cvrisk)
S3method(mstop, gb)
S3method(mstop, blackboost)
S3method(survFit, gb)
S3method(survFit, blackboost)
S3method("[", gb)
S3method("[", blackboost)

useDynLib(mboost)
