
import(methods)
import(stats)

import(Matrix)
importFrom(survival, Surv, survfit)
importFrom(splines, bs, splineDesign)
importFrom(lattice, levelplot)

export(glmboost,
       gamboost,
       blackboost,
       mboost,
       boost_control, mstop, Family,
       GaussReg, Gaussian, GaussClass, Laplace, Binomial, Poisson, GammaReg, QuantReg,
       ExpectReg, NBinomial, PropOdds, Weibull, Loglog, Lognormal, AUC, mboost_fit,
       Huber, AdaExp, Gehan, CoxPH, FP, IPCweights, cvrisk, cv, bbs, stabsel,
       bols, bspatial, brandom, btree, bss, bns, brad, bmono, bmrf, buser, survFit, selected,
       nuisance, "%+%", "%X%", "%O%", extract)
       ###, basesel, fitsel)
exportClasses("boost_family")
exportMethods("show")

S3method(print, glmboost)
S3method(plot, glmboost)
S3method(glmboost, formula)
S3method(glmboost, matrix)
S3method(glmboost, default)
S3method(print, mboost)
S3method(summary, mboost)
S3method(print, summary.mboost)
S3method(plot, mboost)
S3method(lines, mboost)
S3method(plot, survFit)
S3method(coef, mboost)
S3method(coef, glmboost)
S3method(hatvalues, mboost)
S3method(hatvalues, gamboost)
S3method(hatvalues, glmboost)
S3method(fitted, mboost)
S3method(predict, mboost)
S3method(predict, glmboost)
S3method(AIC, mboost)
S3method(logLik, mboost)
S3method(resid, mboost)
S3method(variable.names, mboost)
S3method(variable.names, glmboost)
S3method(print, mboost)
S3method(print, cvrisk)
S3method(print, gbAIC)
S3method(plot, gbAIC)
S3method(plot, cvrisk)
S3method(mstop, gbAIC)
S3method(mstop, cvrisk)
S3method(mstop, mboost)
S3method(nuisance, mboost)
S3method(survFit, mboost)
S3method("[", mboost)
S3method(dpp, blg)
S3method(model.frame, blg)
S3method(model.frame, mboost)
S3method(fit, bl)
S3method(coef, bm_lin)
S3method(coef, bm_cwlin)
S3method(selected, mboost)
S3method(cvrisk, mboost)
# S3method(selected, glmboost)
S3method(update, mboost)
S3method(print, stabsel)
S3method(plot, stabsel)
S3method(extract, mboost)
S3method(extract, glmboost)
S3method(extract, blackboost)
S3method(extract, blg)
S3method(extract, bl_lin)
S3method(extract, bl_tree)
S3method(residuals, mboost)

useDynLib(mboost)
